body {
    display: flex;
    flex-flow: column;
    margin: 0;
    min-height: calc(100vh - 3em);
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0 1em 0;
}
.info .title {
    color: var(--d1-color);
    font-size: 2em;
    font-weight: bold;
}
.info .code {
    color: var(--d1-color);
    margin-bottom: 2em;
    font-size: .8em;
}

.judge {
    padding: 0 1.5em;
}
.judge .section {
    margin-bottom: .5em;
    color: var(--d1-color);
    font-size: 1.3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 2px;
    width: fit-content;
}
.judge .teachers {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}
.judge .teachers .teacher {
    margin-bottom: 1em;
}
.judge .teachers .teacher .name {
    font-size: 1.5em;
    font-weight: bold;
}
.judge table {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}
.judge .stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.judge .item {
    min-width: 2.5em;
}
.judge .stars .star{
    width: 2em;
    height: 2em;
}
.judge .describe {
    min-width: 2.5em;
    color: #AAA;
}
.judge .description {
    margin-bottom: .5em;
    padding: .5em;
    width: 100%;
    color: var(--d1-color);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: thin;
    border-radius: .3em;
    border-color: var(--b3-color);
    background-color: transparent;
    outline: none;
}
.judge .description:empty:not(:focus):before{
    content:attr(placeholder);
    opacity: .5;
}
.judge .description:focus {
    color: black;
    background-color: white;
    border-color: var(--b2-color);
}
.judge .notice {
    margin: 1em 0;
    color: var(--d1-color);
    font-size: .8em;
}
.judge .notice p {
    margin: 0 0 .5em .5em;
}
.judge .notice ol {
    margin: 0;
    padding: 0 2em;
}
.judge .actions {
    margin-top: 3em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.judge .actions .notice {
    margin-top: 1em;
    color: #999;
    font-size: .8em;
}